html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
button:focus,
input,
input:focus {
  outline: none;
}

button {
  text-align: left;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Raleway:wght@300;400;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  padding: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip ~ .tooltiptext {
  font-size: 0.9rem;
  opacity: 0;
  width: 120px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 55px;
  z-index: 1;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
  animation-delay: 5000ms;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover ~ .tooltiptext {
  opacity: 1;
}
