// Reference: CSS Of https://xstate.js.org/

.navLinks {
  color: black;

  .navLink {
    transition: all 0.3s cubic-bezier(.5, 0, .5, 1);
  }

  &:hover .navLink:not(:hover) {
    opacity: 0.5;
  }
}
