// Reference: CSS Of https://xstate.js.org/

.nav-links {
  color: black;

  .nav-link {
    transition: all 0.3s cubic-bezier(.5, 0, .5, 1);
  }

  &:hover .nav-link:not(:hover) {
    opacity: 0.5;
  }
}
